<%- include('../includes/head', { pageTitle: pageTitle, stylesheet: '/product.css' }) %>
  </head>

  <body class="body">
    <%- include('../includes/navigation', { path: path }) %>

      <main class="main">
        <h1>Your Cart</h1>

        <% if (cartProducts && cartProducts.length> 0) { %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

          <div class="product-list">
            <% cartProducts.forEach(product=> { %>
              <div class="product-card">
                <h2 class="product-card__title">
                  <%= product.product.title %>
                </h2>


                <img src="/<%= product.product.imageUrl %>" alt="<%= product.product.title %>"
                  class="product-card__img">

                <p class="product-card__description">
                  <%= product.product.description %>
                </p>


                <p>Price: $<%= product.product.price %> × <%= product.quantity %> = $<%= product.product.price *
                        product.quantity %>
                </p>


                <p>Quantity: <%= product.quantity %>
                </p>

                <form action="/cart-delete-item" method="POST" style="display:inline-block;">
                  <input type="hidden" name="productId" value="<%= product.product._id %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button type="submit"
                    style="background-color: #e74c3c; color: white; border: none; padding: 0.5rem 1rem; border-radius: 5px; cursor: pointer;">
                    Delete
                  </button>
                </form>

              </div>
              <% }) %>
          </div>
          <!-- 
          <form action="/create-order" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit"
              style="background-color: #2ecc71; color: white; border: none; padding: 0.75rem 1.5rem; border-radius: 5px; cursor: pointer; display: block; margin: 1rem auto;">
              Order Now
            </button>
          </form> -->
          <a href="/checkout"
            style="background-color: #2ecc71; color: white; border: none; padding: 0.75rem 1.5rem; border-radius: 5px; cursor: pointer; display: block; margin: 1rem auto;">
            > Order Now</a>


          <% } else { %>
            <p>Your cart is empty.</p>
            <% } %>

      </main>

      <%- include('../includes/end') %>
  </body>

  </html>