<%- include('../includes/head', { pageTitle: pageTitle, stylesheet: '/product.css' }) %>

  <body class="body">

    <%- include('../includes/navigation', { path: path }) %>

      <main class="main">
        <div class="product-list">
          <% if (prods && prods.length> 0) { %>
            <% prods.forEach(product=> { %>
              <div class="product-card">
                <h2 class="product-card__title">
                  <%= product.title %>
                </h2>

                <img src="/<%= product.imageUrl %>" alt="<%= product.title %>" class="product-card__img">

                <p class="product-card__description">
                  <%= product.description %>
                </p>

                <p class="product-card__price">Price: $ <%= product.price %>
                </p>

                <% if (isAuthenticated) { %>
                  <div class="product-card__actions">
                    <form action="/cart" method="POST">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                      <button type="submit" class="product-card__add-to-cart">Add to cart</button>
                      <input type="hidden" name="productId" value="<%= product._id %>">
                    </form>
                    <a href="/products/<%= product._id %>" class="product-card__details-btn">View Details</a>
                  </div>
                  <% } %>
              </div>
              <% }) %>
                <% } else { %>
                  <p class="text-muted">No products found.</p>
                  <% } %>
        </div>
      </main>

      <%- include('../includes/end') %>
  </body>

  </html>