<%- include('../includes/head', { pageTitle: pageTitle, stylesheet: '/product.css' }) %>

    <body class="body">

        <%- include('../includes/navigation', { path: path }) %>

            <main class="main">
                <div class="product-detail-card">
                    <h1 class="product-detail-card__title">
                        <%= product.title %>
                    </h1>

                    <% if (product.imageUrl) { %>
                        <img src="/<%= product.imageUrl %>" alt="<%= product.title %>" class="product-detail-card__img">
                        <% } %>

                            <% if (product.description) { %>
                                <p class="product-detail-card__description">
                                    <%= product.description %>
                                </p>
                                <% } %>

                                    <% if (product.price) { %>
                                        <p class="product-detail-card__price">Price: $<%= product.price %>
                                        </p>
                                        <% } %>

                                            <div class="product-card__actions">
                                                <form action="/cart" method="POST">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                                    <button type="submit" class="product-card__add-to-cart">Add to
                                                        cart</button>
                                                    <input type="hidden" name="productId" value="<%= product._id %>">
                                                </form>
                                            </div>
                </div>
            </main>

            <%- include('../includes/end') %>
    </body>

    </html>